:root {
  --scp-color-app-header: #201b0f;

  --scp-color-ebony: #5a5e50;
  --scp-color-timberwolf: #d3d2c9;
  --scp-color-white--1: #fdfdfd;
  --scp-color-pale-silver: #c6bfb4;
  --scp-color-vegas-gold: #d7c06a;

  --scp-color-yellow: #fdcd13;
  --scp-color-white--2: #fbfbfb;
  --scp-color-grey--1: #d3d2c7;
  --scp-color-grey--2: #6a6d62;
  --scp-color-black: #201b0f;
  --scp-color-blue: #2a64d1;
  --scp-color-text: #5a5e50;
}